@media (max-width: 600px) {
    img {
        margin-top: 20%;
        width: 90%;
        margin-left: 10px;
    }
}

body {
    margin: 0;
    font-family: sans-serif;
}

div {
    display: grid;
    place-items: center;
}

